<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="main-content">
            {{>header}}

            <div id="group-details-name"><strong>Name</strong></div>
            <div id="group-details-administrator"><strong>Administrator</strong></div>
            <div id="group-details-collaborators"><strong>Collaborators</strong></div>
            <div id="group-details-events"><strong>Group Events</strong></div>
            
        </div>

        <script src="/scripts/group_details-bundle.js"></script>
    </body>
</html>