<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        
            <div>This is the user home page where a multi-view calendar would go</div>
        </div>

        {{>footer}}
    </body>
</html>