<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            
            <div>
                This is the landing page where interesting app information will go.
            </div>
        </div>

        {{>footer}}

        <script src="/scripts/index-bundle.js"></script>
    </body>
</html>