<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            <h1>You are now logged out</h1>
        </div>

        {{>footer}}

        <script src="/scripts/logout-bundle.js"></script>
    </body>
</html>