<!DOCTYPE html>
<html>
    <head>    
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            <h1>You are not logged in</h1>
            <p>You're being redirected to login page...</p>
        </div>

        {{>footer}}
        
        <script src="/scripts/no_auth-bundle.js"></script>
    </body>
</html>