<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            
            <div class="container">
                <form id="projects_find_form">
                    <h2>Create a Project</h2>
                    
                    <h3>Give your project a name</h3>
                    <input type="text" name="name">
                    
                    <h3>Find Collaborators</h3>
                    <input id="find-collaborators-input" type="text" name="person">
                    
                    <div id="projects_add_div"></div><br>
                    <br>
                    <button type="submit">Create Group</button>
                </form>
                
            </div>
            
            {{>footer}}

            <script src="/scripts/projects-bundle.js"></script>
        </div>
    </body>
</html>