<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <div class="container">
                <div id="list-buttons">
                    <button id="all-tasks">All Tasks</button>
                    <button id="today">Today</button>
                    <button id="next-seven-days">Next 7 Days</button>
                </div>

                <div id="search-button">
                    <button id="search-tasks">Search Tasks</button>
                </div>

                <div id="search-input"></div>
            </div>
                
            <div class="container">
                <div id="tasks"></div>
            </div>
        </div>
        
        {{>footer}}

        <script src="/scripts/tasks-bundle.js"></script>
    </body>
</html>